<h2><%= @post.title %></h2>

<div class="block">
  <% cache("post_#{@post.id}_content") do %>
    <%= markdown(@post.content).html_safe %>
  <% end %>
</div>

<h5>Comments</h5>
<% cache("post_#{@post.id}_comments") do %>
  <% @post.comments.find_each do |comment| %>
    <div>
      <%= comment.content %>
    </div>
  <% end %>
  <%= paginate comments %>
<% end %>